<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../../styles/post.css">
    <style>
        .content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            width: 100%;
            margin-top: 20px;
            height: 76vh;
            padding: 20px;
            transition: margin-left 0.3s;
        }
    </style>
</head>
<body>
    <!-- Navbar -->
    <div class="navbar">
        <a href="../Deshboad/Layout.html"><img src="../../images/logo.jpg" alt="logo"></a>
        <div class="navleft">
            <a href="../../images/profile.jpg" download>
                <button>
                    <b>Download</b>
                </button>
              </a>
            <img src="../../images/profile.jpg" alt="logo">
        </div>
    </div>

    <!-- Main Content -->
    <div class="content"> User </div>
</body>
</html>
